{% extends "layouts/default.html" %}

{% block content %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

	<style>
		em {
			font-weight: bold;
			font-style: normal;
		}

		.ais-Hits-list {
			list-style-type: none;
		}

		#map {
			-webkit-box-shadow: 3px 3px 4px 0px rgba(223,223,223,1);
			-moz-box-shadow: 3px 3px 4px 0px rgba(223,223,223,1);
			box-shadow: 3px 3px 4px 0px rgba(223,223,223,1);
			border:1px solid #DFDFDF;
			height: 400px;"
		}
	</style>

	<div class="container">
		<div class="columns">
			<div class="column is-full">
				<div id="search-query"></div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-one-fifths">
				<b>Milk Types</b>
				<div id="milk" class="facet"></div>
				<br>
				<b>Covering</b>
				<div id="covering" class="facet"></div><br>
				<b>Age</b>
				<div id="aged" class="facet"></div>
				<br>
				<div id="clearAll"></div>
			</div>
			<div class="column is-four-fifths">
				<div id="stats"></div>
				<div id="active-filters"></div>
				<div id="map"></div><br>

				<div id="hits"></div>

					 <div>
					 <label>Refine with a place: (google autocomplete)
					   <input id="places" />
					 </label>
					 </div>

				<div id="powered-by"></div>
			</div>
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKBlmyMd5Bkdv3SrZrQtyrO77m6Wt3Z34&libraries=places"></script>
	<script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

  <script src="/js/mapSearch.js"></script>

{% endblock %}
