{% extends "layouts/default.html" %}

{% block content %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

	<style>
		em { font-weight: bold; font-style: normal; }

		.ais-Hits-list {
    	list-style-type: none;
		}
	</style>

	<div class="container">
		<div class="columns">
			<div class="column is-full">
				<div id="search-query"></div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-one-fifths">

				<b>Milk Types</b>
				<div id="milk" class="facet"></div>

				<br>

				<b>Covering</b>
				<div id="covering" class="facet"></div>

				<br>

				<b>Age</b>
				<div id="aged" class="facet"></div>

				<br>

				<div id="clearAll"></div>
			</div>

			<div class="column is-four-fifths">

				<div id="stats"></div>

				<div id="active-filters"></div>

				<div id="map" style="height: 300px;"></div>


				<br>

				<div id="powered-by"></div>
			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.32.0/dist/algoliasearchLite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@3.0.0"></script>

	<script src="/js/mapSearch.js"></script>

	<script>
		var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644},
        zoom: 8
      });

			initSearch();
    }
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZV7qjwy_JL03EguX6JcmplaFYKzZkK28&callback=initMap" async defer></script>


{% endblock %}
