{% extends "layouts/default.html" %}

{% block content %}

	<br>
	<div style="min-height: 400px;">
		<ul>
			<li>
				<a href="https://formagg-io.netlify.com/.netlify/functions/rebuild" target="_blank">
					Rebuild the Index
				</a>
			</li>
			<li>
				https://formagg-io.netlify.com/.netlify/functions/webhook
			</li>
			<li>
				<a href="https://instantsearchjs.netlify.com/stories/?path=/story/results-geosearch--with-ip" target="_blank">
					Instant Search API & Widgets
				</a>
			</li>
			<li>
				<a href="https://bulma.io/documentation/elements/image/" target="_blank">
					Bulma Documentation
				</a>
			</li>
		</ul>
	</div>

{% endblock %}
